.Youtube {
  color: #ffffff;
  font-family: inherit;
  border: none;
  background-color: #cd201f;
  border-radius: 3px;
}

@media screen and (min-width: 601px) {
  .Youtube {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .Youtube {
    padding: 1rem 6rem;
    font-size: 1.5rem;
  }
}
